button {
  display: flex;
  height: 35px;
  width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #00aa7a;
  border-radius: none;
  border: none;
  color: white;
  font-family: "Lucida Sans Unicode", sans-serif;
}
